.form {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}